.calendarWrapper {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
}

.calendarWrapper :global(.react-calendar) {
  width: 100%;
  max-width: 100%;
  border: none;
  background: white;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  border-radius: 8px;
  height: 100%;
}

/* 타일 공통 */
.calendarWrapper :global(.react-calendar__tile) {
  padding: 8px 4px;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc((100vh - 200px) / 6);
  border: 1px solid rgba(217, 217, 217, 0.3);
  color: #242424;
}

/* 이번달이 아닌 날짜 */
.calendarWrapper :global(.react-calendar__month-view__days__day--neighboringMonth) {
  color: #d9d9d9;
}

/* 오늘 날짜 스타일 */
.calendarWrapper :global(.react-calendar__tile--now) {
  background: transparent !important;
  color: #4abde8;
  font-weight: normal;
  position: relative;
}

/* 선택된 날짜 스타일 */
.calendarWrapper :global(.react-calendar__tile--active) {
  color: #242424;
  background: #ffffff;
}

/* 호버 스타일 */
.calendarWrapper :global(.react-calendar__tile:enabled:hover),
.calendarWrapper :global(.react-calendar__tile:enabled:focus) {
  background: #ffffff;
}

/* 요일 헤더 */
.calendarWrapper :global(.react-calendar__month-view__weekdays__weekday) {
  color: #666;
  background-color: rgba(195, 235, 250, 0.3);
  padding: 20px 20px;
  font-size: 14px;
  font-weight: semibold;
  font-family: Pretendard;
  text-decoration: none;
  border: 1px solid rgba(217, 217, 217, 0.3);
}

.calendarWrapper :global(.react-calendar__month-view__weekdays__weekday:nth-child(7)) {
  color: #ff0000;
}

.calendarWrapper :global(.react-calendar__month-view__weekdays__weekday:nth-child(6)) {
  color: #2172f6;
}

.calendarWrapper :global(.react-calendar__month-view__weekdays__weekday abbr) {
  text-decoration: none;
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  max-height: calc(100% - 24px);
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todoItem {
  display: inline-block;
  padding: 2px 8px;
  background-color: rgba(250, 226, 124, 0.3);
  color: #242424;
  border-left: 3px solid #fae27c;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  white-space: normal;
}

/* 스크롤바 스타일링 */
.todoList::-webkit-scrollbar {
  width: 0px;
}

.todoList::-webkit-scrollbar-track {
  background: transparent;
}

.todoList::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 2px;
}

.moreButton {
  padding: 2px 4px;
  background-color: rgba(217, 217, 217, 0.3);
  border-left: 3px solid #a7a9aa;
  border-radius: 8px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 11px;
  color: #8a8d8e;
  font-weight: 500;
}
