@import 'tailwindcss';

@theme {
  /* Font Families */
  --font-pretendard:
    Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  /* Regular Colors */
  --color-white: #ffffff;
  --color-broken-white: #f7f8fa;
  --color-new-grey: #eeeeee;
  --color-grey-25: #a7a9aa;
  --color-grey-30: #d9d9d94d;
  --color-light-grey: #a7a9aa;
  --color-grey: #8a8d8e;
  --color-dark-grey: #8a8d8e;
  --color-black: #242424;

  /* Main Colors */
  --color-light-cyan: #c3ebfa;
  --color-light-cyan-30: #c3ebfa4d;
  --color-purple: #cfceff;
  --color-purple-30: #cfceff4d;
  --color-yellow: #fae27c;
  --color-yellow-30: #fae27c4d;

  /* Semantic Colors */
  --color-success: #00997e;
  --color-danger: #ff414b;
  --color-info: #4abde8;
  --color-warning: #ffae41;

  /* Secondary Colors */
  --color-dark-purple: #8785ff;
  --color-dark-pink: #ff88e5;
  --color-pink: #ffdbf7;
  --color-pink-30: #ffeafa4d;
  --color-success-30: #00997e4d;

  /* Function Colors */
  --color-placeholder: #d9d9d9;

  /* Font Sizes */
  --text-h1: 2.25rem; /* 36px */
  --text-h2: 1.5rem; /* 24px */
  --text-h3: 1.125rem; /* 18px */
  --text-p1: 1rem; /* 16px */
  --text-p2: 0.875rem; /* 14px */
  --text-c1: 0.75rem; /* 12px */
  --text-c2: 0.625rem; /* 10px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --leading-h1: 1.3;
  --leading-h2: 1.4;
  --leading-h3: 1.4;
  --leading-p1: 1.4;
  --leading-p2: 1.4;
  --leading-c1: 1.4;
  --leading-c2: 1.3;
}

/* Base Styles */
@layer base {
  html {
    font-family: var(--font-pretendard);
  }
}
